<.header>
    Config Menu
</.header>
  
<.link href={~p"/config/characters"}>Characters</.link>
<.link href={~p"/config/game_settings"}>Game Settings</.link>
<.link href={~p"/config/skills"}>Skills</.link>
