<section class="phx-hero">
  <h1>Lambda's Game Backend Load Testing Tool!</h1>
     <li><.link href={LoadTestWeb.Router.Helpers.live_dashboard_path(@conn, :home)}>LiveDashboard</.link></li>
   <%= if @conn.assigns[:user_id] do %>
     <li><.link href={LoadTestWeb.Router.Helpers.google_auth_path(@conn, :signout)}>Logout</.link></li>
   <% else %>
     <li>
       <a href={@oauth_google_url}>
         <img src="https://i.imgur.com/Kagbzkq.png" alt="Sign in with Google" />
       </a>
     </li>
  <% end %>
</section>
